body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#map {
  flex: 1;
  height: 100%;
  width: 100%;
}

#year-selector, #add-event-icon, #event-form {
  position: absolute;
  background: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

#year-selector {
  top: 10px;
  left: 10px;
  width: 97%;
  display: flex;
  align-items: center;
}

#add-event-icon {
  top: 70px;
  left: 10px;
}

#add-event-icon button {
  background: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

#event-form {
  top: auto;
  bottom: 10px;
  left: 10px;
}

#new-event-form {
  display: flex;
  flex-direction: column;
}

#new-event-form input, #new-event-form textarea {
  margin-bottom: 10px;
}

/* Custom cursor for adding events */
.add-event-cursor {
  cursor: url('static/pin.png'), auto; /* Replace with your pin icon path */
}

/* Styles for the range slider */
#year-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 85%;
  height: 10px;
  margin-right: 10px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#year-slider:hover {
  opacity: 1;
}

#year-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: url('/static/pin.png') no-repeat center center; /* Make sure this path is correct */
  background-size: contain;
  cursor: pointer;
}

#year-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: url('/static/pin.png') no-repeat center center; /* Make sure this path is correct */
  background-size: contain;
  cursor: pointer;
}

#year-input {
  width: 70px;
  border: none;
  background: gray;
  color: white;
  text-align: center;
}
