body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header {
    width: 100%;
    padding: 10px 20px; /* Adds padding to the header */
    background-color: #f8f9fa; /* Light gray background for the header */
    box-sizing: border-box; /* Ensures padding is included in the element's total width */
    display: flex;
    justify-content: space-between; /* Spaces out elements in the header */
    align-items: center; /* Vertically centers the elements */
}

header h1 {
    margin: 0;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin-right: 15px; /* Adds spacing between nav items */
}

header nav ul li a {
    text-decoration: none;
    color: #6c757d; /* Gray color for the links */
    font-weight: 500;
}

header nav ul li a:hover {
    color: #000; /* Change color on hover */
}

header .login-menu a {
    margin-left: 10px; /* Adds spacing between the login and sign-up buttons */
}


.logo-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  padding: 5px 15px; /* Adds padding around the text */
  margin: 0; /* Adjusts margin, if needed */
  color: #000000; /* Sets text color */

}

.text-body-emphasis {
    --bs-text-opacity: 1;
    color: var(--bs-emphasis-color) !important;
}
nav-bar {

 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;

}

#map {
  flex: 1;
  height: 100%;
  width: 100%;
}

#year-selector, #add-event-icon, #event-form {
  position: absolute;
  background: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

#year-selector {
  top: 68px;
  left: 10px;
  width: 97%;
  display: flex;
  flex-display: column;
  gap: 15px;
  align-items: flex-start;
}

.slider-container {
    position: absolute;
    width: 95%;
}
century-dropdown{

border-radius: 50px;
width: 100%;


}
#century-dropdown {
    padding: 5px;
    font-size: 12px;
    width: 100%;
}
.year-markers {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    width: 87%;
    left: 120px;

    pointer-events: none; /* Ensures markers don't interfere with slider interaction */
}

.year-markers span {
    font-size: 12px; /* Adjust font size as needed */
}


#add-event-icon {
  top: 150px;
  left: 10px;
}
#login-icon {
  position: absolute;
  top: 140px;
  left: 10px;
}


#add-event-icon button {
  background: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

#event-form {
  top: auto;
  bottom: 10px;
  left: 10px;
}

#new-event-form {
  display: flex;
  flex-direction: column;
}

#new-event-form input, #new-event-form textarea {
  margin-bottom: 10px;
}

/* Custom cursor for adding events */
.add-event-cursor {
  cursor: url('static/pin.png'), auto; /* Replace with your pin icon path */
}

/* Styles for the range slider */
#year-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 85%;
  height: 25px;
  margin-right: 10px;
  border-radius: 15px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#year-slider:hover {
  opacity: 1;
}

#year-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: url('/static/pin.png') no-repeat center center; /* Make sure this path is correct */
  background-size: contain;
  cursor: pointer;
}

#year-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: url('/static/pin.png') no-repeat center center; /* Make sure this path is correct */
  background-size: contain;
  cursor: pointer;
}

#year-input {
  width: 70px;

  border: none;
  border-radius: 25px;
  background: gray;
  color: white;
  text-align: center;
}


#top-bar {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.btn {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background: #0056b3;
}