{% extends "base.html" %}


{% block title %}Home - Interactive Historical Map{% endblock %}

{% block content %}
<div class="container" id="SliderContainer">
    <div class="slider-container">
        <input type="text" id="slider" class="slider" />
    </div>
    <div class="slider-container">
        <input type="text" id="slider_century" class="slider" />
    </div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-between align-items-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous" id="eraChangerBC">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <span class="badge badge-info align-self-center">You are browsing history now!, Go BC, or AC.</span>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next" id="eraChangerAC">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>











</div>


<div class="FilterContainer"  id="FilterContainer">
 <div id="close-icon" class="close-icon">&times;</div>

            <div class="form-check ">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="personal">Filter Pins by Category:</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="personal" value="Biographies" checked>
                    <label class="form-check-label" for="personal">Biographies</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="history" value="History" checked>
                    <label class="form-check-label" for="history">History</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Local-Products" value="Local-Products" checked>
                    <label class="form-check-label" for="Local-Products">Local Products</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Places-to-Visit" value="Places-to-Visit" checked>
                    <label class="form-check-label" for="Places-to-Visit">Places to Visit</label>
                </div>
            </div>

            <div class="form-check">

                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="personal">I want to see:</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pinVisibility" id="allPins" value="all">
                    <label class="form-check-label" for="allPins">All Pins</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pinVisibility" id="unseenPins" value="unseen">
                    <label class="form-check-label" for="unseenPins">Unseen Posts (45 unseen posts)</label>
                </div>
            </div>
     <button type="submit" class="btn btn-info" id="ApplyFilters">Apply changes</button>
</div>


{% endblock %}