<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <div id="event-form-container">
        <div id="content-form" class="content-form">
            <h3>Reset Password</h3>
            <form method="POST">
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password" required>
                </div>
                <button type="submit" class="btn btn-info">Reset Password</button>
            </form>
        </div>
    </div>
</body>
</html>
